body{
    text-align: center;
}

table{
    width: 70%;
    margin:auto;
    font-size: 1.5em;
    
}


td{
    border-bottom: 1px solid green;
    border:5px #FFAC55 solid;
}
th{
    border-bottom: 1px solid red;
    border-right:8px red double;
    border-left:7px yellow dotted;
    
    };

