body{
    text-align: center;
	background-image: url("images/tree.jpg");
   
    
}
table{
    width: 60%;
    margin: auto;
    font-size: 1.3em;
    border-collapse: collapse;}


td{
    border-bottom: 1px dashed gray;
    padding: 5px 0px;
}

td.even{
    /* border-bottom: 2px dashed brown; */
    background-color: darkseagreen;color:aliceblue
	
}

}

